<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset2">
        <h1>Users:</h1>
        <ul>
          <% @profiles.each do |user| %>
          <li>
            <%= user.name %>
            <a href="/profiles/<%= user.id %>">show</a> 
            <a href="/profiles/<%= user.id %>/edit">edit</a> 
            <a href="/profiles/<%= user.id %>/destroy">destroy</a> 
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
   